
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');

:root {
  /* --- Brand Colors  --- */
  --color-brand-primary: #1E40AF;      
  --color-brand-secondary: #0099FF;
  --color-brand-accent :#F59E0B;

  --color-bg-page: #F3F4F6;         
  --color-bg-surface: #FFFFFF;
  --color-border-line: #FEFEFF;   

  /* --- Text Colors --- */
  --color-text-primary: #111827;     
  --color-text-secondary: #6B7280;
  --color-text-tertiary:#9CA3AF;
  --color-text-disabled:#D1D5DB;
  --color-text-onBrand:#FFFFFF;  

  /* --- Status Colors  --- */
  --color-status-normal: #10B981;    
  --color-status-warning: #FFAE00;  
  --color-status-critical: #EF4444;
  --color-status-device-offline: #6B7280;
  
  --color-graf-rain:rgba(68, 181, 194, 0.62);
  --color-graf-waterLevel:#155DFC;


  /* --- Typography (Fonts) --- */
  --font-ui: 'Inter', system-ui, sans-serif;
  --font-data: 'IBM Plex Mono', monospace;

  /* --- Shadows (Effect Styles) --- */
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);


  /*---Gradient Color*/
  --brand-secondary-blen : linear-gradient(90deg, #1E40AF 0%, #000 100%);
}

/* 3. Global Reset */
body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--text-primary);
  font-family: var(--font-ui); 
  -webkit-font-smoothing: antialiased;
}

/* 4. Utility Classes (ชุดคำสั่งที่เราจะเรียกใช้บ่อยๆ) */

/* --- Typography Utilities --- */
.text-h1 { font-size: 24px; font-weight: 700; line-height: 1.25; }
.text-h2 { font-size: 20px; font-weight: 600; line-height: 1.25; }
.text-h3 { font-size: 16px; font-weight: 500; line-height: 1.25; }
.text-default { font-size: 14px; font-weight: 400; line-height: 1.5; }
.text-caption { font-size: 12px; font-weight: 400; line-height: 1.5; color: var(--text-secondary); }

/* --- Data Font Utilities (IBM Plex Mono) --- */
.text-data-lg { font-family: var(--font-data); font-size: 24px; font-weight: 700; }
.text-data-md { font-family: var(--font-data); font-size: 14px; font-weight: 400; }
.text-data-sm { font-family: var(--font-data); font-size: 12px; font-weight: 400; }

/* --- Layout Utilities --- */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: var(--color-surface);
  border-radius: 12px; /* ความโค้งมนของการ์ด */
  padding: 24px;
  box-shadow: var(--shadow-sm);
}